@tailwind base;
@tailwind components;
@tailwind utilities;

/* add transition to all thins */
* {

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /*colors*/
  --nav-button: #60C1F8;
  --common-green: #51D0BB;
  --common-lime: #B1F18A;
  --common-blue: #ADF2F6;
  --common-yellow: #FFF494;
  --primary: #699CFF;
  --secondary: #EBEBEB;

  /*metrics*/
  --max-width: 1196px;
  --banner-height: 420px;
}


h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38.73px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29.07px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24.33px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19.47px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19.47px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;

}

.page-transition {
  opacity: 0.7;
  transform: translateY(10px);
  filter: blur(3px);
}

.animate-enter {
  /* animation where element appears from bottom to top  */
  animation: slide-up 0.5s ease-out;
  /* display: block; */
}


@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-exit {
  /* animation where element disappears from top to bottom */
  animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
    display: block;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}